.dc-chart g.row text {
  fill:black;
}

.dc-chart g.row text.row.dim {
  fill:grey;
}

.dc-chart .pie-slice {
  fill:black;
}

.dc-chart .pie-slice path {
    stroke: white;
}

.dc-chart .selected path {
    stroke-width: 0;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart legend {
  font-size: 1em;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 0.7em;
}
#map svg{
  background-color:#efefef;
}

#light svg{background-image: url('js/images/icons_top_5day.GIF');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}